<section>
  <div class="thumb-container">
    {% for project in site.data.settings.projects %}
      <a href="{{ site.github.url }}/projects/{{ project.name }}.html">
        <div class="thumb-unit" data-folder="{{ site.github.url }}/projects/{{ project.name }}" style="background-image: url({{ site.github.url }}/projects/{{ project.name }}/thumb.jpg)">
          <div class="thumb-overlay">
            <div class="thumb-overlay-header">
              <span class="thumb-date">{{ project.date }}</span>
              <span class="thumb-title">{{ project.title }}</span>
            </div>
            <div class="thumb-overlay-footer">
              <span class="thumb-tag">{{ project.tag }}</span>
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</section>
