.slide-carousel
  .carousel-item
    display: none // Hide all carousel items by default
    &.carousel-item-next,
    &.carousel-item-prev,
    &.active
      display: block // Display visible carousel items for transitions
    img
      display: block
      width: 100%
      height: auto
      max-width: 100%

  .carousel-control-next,
  .carousel-control-prev
    background: transparent
    border: 0
    box-shadow: none
    outline: none
    padding: 0
    filter: invert(1)

  .carousel-control-next-icon,
  .carousel-control-prev-icon
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.75))